@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Master";
}
<div style="text-align:center">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
</div>
@section NoiDungFooter {
    <p class="alert alert-danger">Noi dung Footer cua trang chu</p>
}