@model CS068_ASPNET_MVC_01.Models.ProductModel

<div class="card bg-danger text-white">
    <h1 class="card-header">Hello @Model.Name</h1>
    <div class="card-body">
        <p class="card-text">
            Gia: @Model.Price
        </p>

    </div>
</div>

@this.Path