@model CS068_ASPNET_MVC_01.Models.ProductModel
@{
    var product = ViewData["product"] as ProductModel;
}
<p>@ViewData["Title"]</p>

<div class="card bg-primary text-white">
    <h1 class="card-header">Hello @product.Name</h1>
    <div class="card-body">
        <p class="card-text">
            Gia: @product.Price
        </p>

    </div>
</div>

@this.Path