
@model CS068_ASPNET_MVC_01.Models.PlanetModel
@{
}   
<h1>@Model.Name</h1>
<div class="card w-50">
    <img class="card-img-top" src="~/planet/@(Model.Name).jpg" alt="">
    <div class="card-body">
        <div class="card-text">
            @Model.Content
        </div>
        <a class="card-link" asp-action="Index">Cac hanh tinh</a>
    </div>
</div>
