<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CS052_ASP.NET_Razor_03</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CS052_ASP.NET_Razor_03.styles.css" asp-append-version="true" />

</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <a class="navbar-brand" href="#">MyWeb</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#my-nav-bar"
                    aria-controls="my-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="my-nav-bar">
                <!--HTML các thành phần trình bày trên Navbar-->
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-page="Index">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Post1">Bai viet 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Post2">Bai viet 2</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Gửi bài</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="mydropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu đổ xuống
                        </a>
                        <div class="dropdown-menu" aria-labelledby="mydropdown">
                            <a class="dropdown-item" href="#">Mục 1</a>
                            <a class="dropdown-item" href="#">Mục 2 abc</a>
                            <a class="dropdown-item" href="#">Mục 3 zyz abc</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="bg-info">
        @RenderBody()
    </div>
    <div class="bg-success">
        Footer
        @await RenderSectionAsync("NoiDungFooter",required: false)
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>