
@{
    ViewData["Title"] = "Delete Db";

}
<h1>@ViewData["Title"] </h1>
<p class="alert alert-danger">Co chac chan xoa?</p>
<form method="post">
    <button type="submit" class="btn btn-danger">Xoa Db</button>
    <hr/>
    <a asp-action="Index">Quan ly Db</a>
</form>
