<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        div {
            text-align: center;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div style="background: blue; text-align:center;">HEADER</div>
    @RenderBody()
    <div style ="background: green">FOOTER</div>
</body>
</html>
