@page "/about"
@model CS068_ASPNET_MVC_01.Pages.RazorModel
@{
}

<h1>Gioi thieu ve Razor</h1>
<p>Razor la 1 template engine trong .Net, no la TEMPLATE ENGINE mac dinh cua ASP.NET MVC, co chuc nang render (dung) HTML tu cac view (.cshtml). View (.cshtml) cho phep viet html va nhung code c#</p>